body{
    box-sizing: border-box;
}
.navbar{
    z-index: 999;
}
.navbar-brand{
    text-transform: lowercase;
}
#home{
    width: 100%;
    min-height: 75vh;
    background-image: url('bg.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 0px;
}
.home-container{
    width: 100%;
    min-height: 75vh;
    background: rgba(0,0,0,.7);
}

footer{
    background: black;
    min-height: 100vh;
}
.footer-top .row{
    min-height: 40vh;
}
.footer-links ul{
    list-style: none;
    padding: 0;
}
.footer-links ul li a{
    color: white;
    text-transform: uppercase;
}
.footer-divider{
    height: 1px;
    width: 90%;
    background: rgba(255, 255, 255, 0.367);
}
.footer-bottom{
    min-height: 40vh;
}
.footer-social a{
    margin: 5px;
    padding: 3px 7px;
    border: 1px solid white;
    background: white;
    border-radius: 50%;
    color: black;
    font-size: 1.5rem;
} 
.footer-copyright{
    font-size: 1.1rem;
    color: white;
}
html {
    font-size: 0.8rem;
  }
  
@media all and (min-width: 768px){
    html{
        font-size: 1.1rem;
    }
}
@media all and (min-width: 992px){
    html{
        font-size: 1.2rem;
    }
}
@media all and (min-width: 1200px){
    html{
        font-size: 1rem;
    }
}